.header {
    background-image: url("../img/header.jpg");
    height: 125px;
    color: white;
    font-size: 50px;
    text-align: center;
}

table {
    margin-left: 23%;
    width: 700px;
    background-color: gray;
}

input,
textarea {
    margin: 25px 0px 40px 20px;
}

li input {
    margin-top: 15px;
    margin-bottom: 0px;
}

td {
    width: 400px;
}

footer,
.footer {
    width: 100%;
    background-color: brown;
}

h1 {
    text-align: center;
    font-size: 100px;
    height: 250px;
}

.event {
    width: 330px;
}

.footer ul>li {
    width: 300px;
}